zig-out/
src/core/data/*
src/cli/play/.idea/*
src/cli/play/*.user
src/cli/play/Play/bin/*
src/cli/play/Play/obj/*
src/cli/play/Jimbl/bin/*
src/cli/play/Jimbl/obj/*
test/*
doc/*
!src/core/data/bootrom.bin
!src/core/data/gauss.bin
apollo
apollo-spc-program
/play
/bin/*
*.o
*.exe
*.obj
*.pdb
*.out
*.raw